:root {
  --bg-color: #090d2f;
  --border-color: #37394a;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #9da0bf;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
input{
  background: transparent;
  outline: 0;
  border: 1px solid #ddd;
  box-shadow: none;
  height: 36px;
  padding: 0;
  font-size: 16px;
  text-indent: 1em;
}
.ellipsis{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card {
  padding: 2em;
}

.layui-layer.layui-layer-dialog{
  border-radius: 5px;
}

.bottom-btn{
  position: fixed;
  right: 24px;
  bottom: 24px;
  z-index: 100011;
  background-color: #2a2d53;
  outline: 0;
  border: 0;
  color: #fff;
}

@media (prefers-color-scheme: light) {
  :root {
    
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
